    /* ---------------------------
       SELETORES POR TAG
    --------------------------- */
    body {
      font-family: Arial, sans-serif;
      background: #f2f2f2;
      padding: 20px;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    /* ---------------------------
       SELETORES POR CLASSE
    --------------------------- */
    .categoria {
      background: #fff;
      padding: 15px;
      margin: 15px 0;
      border-radius: 10px;
      box-shadow: 0 0 18px rgb(43, 84, 84);
  }

    .titulo {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    

    .animal {
      background: #f9f9f9;
      margin: 5px 0;
      padding: 8px;
      border-radius: 6px;
    }

    /* ---------------------------
       ESTILOS POR CATEGORIA
    --------------------------- */
    .mamiferos { border-left: 6px solid #4c6ef5; }
    .aves      { border-left: 6px solid #f59f00; }
    .repteis   { border-left: 6px solid #37b24d; }
    .anfibios  { border-left: 6px solid #15aabf; }
    .peixes    { border-left: 6px solid #e64980; }

    /* ---------------------------
       SELETORES POR ID
    --------------------------- */
    #gato { font-weight: bold; }
    #aguia { font-style: italic; }

    .animal:hover { 
      background-color:#808080 ;
      transform: scale(1.00);
      box-shadow: 0 0 18px rgb(32, 48, 69)
    }
