body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: url(https://img.freepik.com/vetores-gratis/plano-de-fundo-da-area-de-trabalho-moderno-vetor-de-desenho-geometrico-azul_53876-135923.jpg?semt=ais_incoming&w=740&q=80);
  padding: 20px;
  
  
}
.container{ 
  height: 45rem;

display: flex;
justify-content: center;
align-items: center;
margin: auto;
}
.card{
  width: 90%;
  height:200px;
  display: flex;
  flex-direction:column;
  margin-left: 0.5rem;
  border-radius: 10px;
  text-align: center;
  object-fit: contain;
  
}
.card:hover{  transform: scale(1.00);
  box-shadow: 0 0 18px rgba(0, 255, 255,1) }

.mamiferos{  background-color: #483d8b;}
.aves{background-color: #fff8dc;}
.repteis{background-color: rgb(217, 218, 218);}